# Virtual environment
projenv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Development files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker specific
.dockerignore
Dockerfile

# Git related
.git
.gitignore

# Others
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
